* {
  border: solid 1px black;
  margin: 0px;
}

body {
  padding: 5px;
  max-width: 1200px;
}

.hour-container {
  /* border: solid 1px red; */
  width: 100px;
  aspect-ratio: 7/8;
}

#hourly-container {
  /* border: solid 1px red; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(27, 1fr);
  overflow-x: scroll;
  gap: 2px;
  /* width: 2400px; */
}

.forecast-info {
  /* border:solid 1px red; */
  display: grid;
  grid-template-columns: 1fr auto;
}

#additional-info-container{
  /* border: solid 1px red; */
  display: grid;
  grid-template-columns: 210px 1fr;
}

#forecast-container {
  /* border: solid 1px red; */
  display: grid;
  grid-template-rows: auto;
  gap: 5px;
}

#additional-data-container {
  border: solid 1px red;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 200px); */
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  grid-auto-rows: 100px;
  gap: 5px;
  padding: 5px 0px 0px 5px;
  overflow-y: scroll;
  max-width: 600px;
}

.additional-info {
  width: 200px;
  height: 100px;
}

/* #additional-info-header {
  grid-column: 1/3;
} */

.daily-forecast-container:hover {
  border: solid 1px red;
}